@media screen and (max-width: 700px){
    header .container{
        display: flex;
        flex-direction: column; 
        margin-bottom: 10px;
        
    }

    .botao{
        margin-top: 5px;
        width: 200px;
    }

    .rodape{
        display: flex;
        flex-direction: column;
        height: 190px;
    }

    .rodape .logo{
        margin-top: 20px;
    }
}

@media screen and (min-width: 1000px){
    .descricao{
        width: 70%;
    }
}